**/.settings/*
**/.classpath
**/.project
**/target
**/.mvn


**/node_modules/*
**/src/main/webapp/css
**/src/main/webapp/package-lock.json
**/src/main/webapp/js
**/src/main/webapp/yarn.lock
**/bin
admin/node/*


.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_7_9.xml
core-model/core-model.iml
*.iml
.idea/libraries/Maven__io_springfox_springfox_core_2_8_0.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml

*.bak
**/.vs/*
